
<div class="list-group list-group-flush account-settings-links">

  <a class="list-group-item list-group-item-action border-bottom {% if request.resolver_match.view_name == 'admin-post' %} active {% endif %}" href="{% url 'admin-post' %}">เนื้อหาทั้งหมด</a>

  <a class="list-group-item list-group-item-action border-bottom {% if request.resolver_match.view_name == 'admin-confirm' %} active {% endif %}" href="{% url 'admin-confirm' %}">เนื้อหารอการอนุมัติ</a>

  <a class="list-group-item list-group-item-action border-bottom {% if request.resolver_match.view_name == 'admin-member' %} active {% endif %}" href="{% url 'admin-member' %}">สมาชิกทั้งหมด</a>

  <a class="list-group-item list-group-item-action border-bottom {% if request.resolver_match.view_name == 'admin-student-confirmed' %} active {% endif %}" href="{% url 'admin-student-confirmed' %}">สมาชิกยืนยันตัวตนแล้ว</a>

  <a class="list-group-item list-group-item-action border-bottom {% if request.resolver_match.view_name == 'admin-studentPending' %} active {% endif %}" href="{% url 'admin-studentPending' %}">สมาชิกรอการยืนยันตัวตน</a>

</div>