{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title}} {% endblock %}

{% block content %}
{% for p in postdetail %}
{{ pid|json_script:'pid' }}
<section>
  <div class="container-lg position-relative">
    
    
    <div class="row justify-content-center px-0">

      <div class="row justify-content-center px-0">
        <div class="col-xxl-10 col-lg-8 col-md-9 col-sm-10 col-12 px-0">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-4 mb-0 mx-auto" role="alert">
          
          <p class="m-0">{{message}}</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="col-xxl-6 col-lg-8 col-md-9 col-sm-10 col-12 px-3 mt-4 mb-4 border shadow-sm" style="background-color: rgb(255, 255, 255);">

        <div class="bd-post-archive">
        
          <div class="bd-post-thumbnail">
            <div class="d-flex justify-content-between bd-highlight mt-3">

                <div class="d-flex bd-highlight">
                  <img src="{{ p.createBy.photo.url }}" alt=""  style="min-width: 50px; min-height: 50px; width: 50px; height: 50px; margin-right: 12px; border-radius: 5px; object-fit: cover;">
                  <div class="d-flex flex-column justify-content-around">
                    <p class="m-0 text-primary"><a class="link-primary underline-hover" href="/profile/{{p.createBy.username}}">{{ p.createBy.user.first_name }} {{ p.createBy.user.last_name }}</a></p>
                    <p class="m-0 text-grey"> {{p.post_date|date:"d M Y"}}</p>
                  </div>
                </div>

                <div class="d-flex bd-highlight">
                  <div class="d-flex">
                    <form action="{% url 'like_post' %}" method="post">
                      {% csrf_token %}
                      {% if is_liked %}
                      <button class="btn btn-outline-primary mx-1 btn-sm" type="submit" name="post_id" value="{{ p.id }}">เลิกถูกใจ</button>
                      {% else %}
                      <button class="btn btn-primary mx-1 btn-sm" type="submit" name="post_id" value="{{ p.id }}">ถูกใจ</button>
                      {% endif %}
                    </form>
  
                    
                  
                    <form>
                      {% if user.is_authenticated %}
                      {% if user.id != p.createBy.user.id %}
      
                          <!-- {% if myBookmark %} -->
                          {% for bm in myBookmark %}
                          {% if user.profile.id == bm.user.id %}
                          <a class="btn btn-outline-primary mx-1 btn-sm" href="{% url 'add-bookmark' p.id %}">เลิกบันทึก</a>
                          {% endif %}
                          {% endfor %}
      
                        
                          <!-- {% else %} -->
                          <a class="btn btn-primary mx-1 btn-sm" href="{% url 'add-bookmark' p.id %}">บันทึก</a>
                          <!-- {% endif %} -->
                          
                      {% endif %}
                      {% else %}
                      <a class="btn btn-primary mx-1 btn-sm" href="{% url 'add-bookmark' p.id %}">บันทึก</a>
                      {% endif %}
                    </form>
                  
                  </div>
                </div>
                
            </div>

            <div class="d-flex py-4 justify-content-between align-items-center" id="el1" >
              
              <h5 class="m-0 px-3" style="border-left: 2px solid #06F;">{{ p.title }}</h5>
                
            </div>
            <img src="{{ p.thumbnail.url }}" class="shadow-2-strong mx-auto d-block responsive-thumbnail" alt="" style="object-fit: cover;">
          </div>


            <div class="d-flex flex-column bd-highlight my-3">
              <div class="d-flex flex-row bd-highlight">
                <div class="mb-2 bd-highlight article-min"><p class="m-0 text-grey">จังหวัด : </p></div>
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">{{p.prov}}</p></div>
              </div>
              <div class="d-flex flex-row bd-highlight">
                <div class="mb-2 bd-highlight article-min"><p class="m-0 text-grey">ที่ตั้งบริษัท : </p></div>
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">{% if p.location %} ถนน:{{p.location}} {% else %} ถนน: - {% endif %} {% if p.location2 %} ซอย:{{p.location2}} {% else %} ซอย: - {% endif %} {% if p.location3 %} ตำบล:{{p.location3}} {% else %} ตำบล: - {% endif %} {% if p.location4 %} อำเภอ:{{p.location4}} {% else %} อำเภอ: - {% endif %}</p></div>
              </div>
              <div class="d-flex flex-row bd-highlight">
                <div class="mb-2 bd-highlight article-min"><p class="m-0 text-grey">ตำแหน่ง : </p></div>
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">{{p.position}}</p></div>
              </div>
              <div class="d-flex flex-row bd-highlight">
                <div class="mb-2 bd-highlight article-min"><p class="m-0 text-grey">เวลาการฝึกงาน : </p></div>
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">{{p.Intern_type}}</p></div>
              </div>
              <div class="d-flex flex-row bd-highlight">
                <div class="mb-2 bd-highlight article-min"><p class="m-0 text-grey">ค่าตอบแทน : </p></div>
                {% if p.money and p.money_type %}
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">{{p.money}}/{{p.money_type}}</p></div>
                {% else %}
                <div class="mb-2 bd-highlight"><p class="m-0 text-grey">ไม่มี</p></div>
                {% endif %}
              </div>
            </div>
        

            <div class="row mt-3">
              <div class="col-lg-12">

                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">ที่มาและเหตุผลที่เลือกฝึกงานกับบริษัทนี้</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample0" aria-expanded="false" aria-controls="collapseExample0">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample0">
                  {% if p.introduce %}
                    <p>{{p.introduce|safe}}</p>
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                  <hr>
                </div>
                
                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">จุดประสงค์หรือการทำงานของบริษัทที่ฝึกงาน</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample1">
                  {% if p.body %}
                    {{p.body|safe}}
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                  <hr>
                </div>


                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">สภาพแวดล้อม เพื่อนร่วมงาน พี่เลี้ยง และบรรยากาศในการทำงาน</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                    เปิด-ปิด<i class="fa-solid fa-line-height"></i>
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample2">
                  {% if p.body2 %}
                    {{p.body2|safe}}
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                    <hr>
                </div>


                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">สิ่งที่ได้ลองหรือทำตลอดระยะเวลาการฝึกงาน</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample3">
                  {% if p.body3 %}
                    {{p.body3|safe}}
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                    <hr>
                </div>


                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">การเตรียมตัวและข้อเสนอแนะเพิ่มเติมสำหรับผู้ที่สนใจ</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample4">
                  {% if p.body4 %}
                    {{p.body4|safe}}
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                    <hr>
                </div>


                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 fw-bold">ช่องทางการติดต่อบริษัท</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show text-break" id="collapseExample5">
                  {% if p.body5 %}
                    {{p.body5|safe}}
                  {% else %}
                    <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                  {% endif %}
                    <hr>
                </div>

                {% if my_internWorks %}
                <div class="d-flex justify-content-between mb-3">
                  <h6 class="m-0 text-center fw-bold">ลิงก์ผลงาน</h6>
                  <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                    เปิด-ปิด
                  </button>
                </div>
                <div class="collapse show" id="collapseExample6">
                    <div class="d-flex flex-column bd-highlight mb-2">
                      {% for w in my_internWorks %}
                      <div class="row">
                        <div class="col-12 text-center">
                          <p class="m-0">{{w.work_name}}</p>
                        </div>
                        <div class="col-12">
                          <p class="m-0">{{w.work_detail}}</p>
                        </div>
                        <div class="col-12 text-center">
                          <a href="#" class="link-primary underline-hover">คลิกเพื่อดู</a>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    <hr>
                </div>
                {% endif %}

                
              </div>
            </div>

            <div>
            <h6 class="mb-3 text-center">รูปภาพเพิ่มเติม</h6>
            <div id="carouselExampleIndicators" class="carousel slide border" data-bs-ride="carousel" style="overflow: hidden;">
              
              <div class="carousel-inner position-relative">
                {% for m in my_otherPostImage %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <img src="{{ m.image.url }}" class="shadow-2-strong mx-auto d-block responsive-thumbnail" alt="" alt="..." style="object-fit: cover;">
                  <div class="position-relative">
                    <p class="text-center my-2">{{m.image_name}} ({{ forloop.counter }} / {{my_otherPostImageCount}})</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            
              <button class="carousel-control-prev shadow-sm my-auto" type="button" data-bs-target="#carouselExampleIndicators" style="height: 35px; width: 35px; border: 1px solid #06F; background-color: white; opacity: 100%;" data-bs-slide="prev">
               
                <i class="fa-solid fa-chevron-left theme-color-2"></i>
                <span class="visually-hidden">Previous</span>
              </button>

              <button class="carousel-control-next shadow-sm my-auto" type="button" data-bs-target="#carouselExampleIndicators" style="height: 35px; width: 35px; border: 1px solid #06F; background-color: white; opacity: 100%;" data-bs-slide="next">
               
                <i class="fa-solid fa-chevron-right theme-color-2"></i>
                <span class="visually-hidden">Next</span>
              </button>

              
            </div>

            
            </div>

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row d-flex justify-content-center">
                <div class="card-footer spy-3 border-0 border-bottom" style="background-color: #ffffff;">
                  <div class="d-flex flex-start w-100">
                    <img class="shadow-1-strong"
                      src="{{user.profile.photo.url}}" alt="avatar" width="40"
                      height="40" style="border-radius: 5px; object-fit: cover;"/>
                    <div class="form-outline w-100 ms-2">
                      <textarea class="form-control" id="textAreaExample" name="comment" rows="4" placeholder="แสดงความคิดเห็น..." required></textarea>
                    </div>
                  </div>
                  <!-- <div class="float-end mt-2">
                    <button type="button" class="btn btn-primary btn-sm">คอมเมนต์</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                  </div> -->
                  <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary btn-sm" type="submit" >ตกลง</button>
                  </div>
                  
              </div>

              <p class="mt-2 mb-2 px-3 text-primary fw-bold text-center text-md-start">ความคิดเห็น ({{commentCount}})</p>
              
              <div class="card-body py-0 overflow-auto border-top pt-2" style="max-height: 280px;">
                {% for c in comment %}
                <div class="d-flex flex-start align-items-center">

                  <img class="shadow-1-strong me-3"
                    src="{{ c.user.photo.url }}" alt="avatar" width="40"
                    height="40" style="border-radius: 5px; object-fit: cover;"/>

                  <div>
                    <p class="m-0 text-primary"><a class="link-primary underline-hover" href="/profile/{{c.user.username}}">{{c.user.user.first_name}} {{c.user.user.last_name}}</a></p>
                    <p class="m-0 text-grey small">{{c.stamp}}</p>
                  </div>

                  <!-- {% if user.id == c.user.user.id %}
                  <div class="d-flex align-items-start flex-column ms-auto">
                    <a href="/delete-comment/{{c.id}}/" class="">ลบ</a>
                  </div>
                  {% endif %} -->

                </div>
      
                <p class="mt-2 pb-2 mb-0">{{c.comment}}</p>
                {% if user.id == c.user.user.id %}
                <div class="d-flex justify-content-end mb-2">
                  <a href="{{p.id}}/edit-comment/{{c.id}}/" class="btn btn-primary btn-sm ms-1">แก้ไข</a>
                  <!-- <a href="/delete-comment/{{c.id}}/" class="btn btn-danger btn-sm ms-1">ลบ</a> -->

                  <span class="modalbtn btn btn-danger btn-sm ms-1" data-pk="{{c.pk}}" data-photo="{{ c.user.photo.url }}" data-firstname="{{c.user.user.first_name}}"
                    data-lastname="{{c.user.user.last_name}}" data-comment="{{c.comment}}" data-stamp="{{c.stamp}}"
                    data-toggle="modal" data-target="#quizStartModal">
                    ลบ
                  </span>
                </div>
                {% endif %}
                <hr class="mt-0 mb-2">
                {% endfor %}
                
              </div>
            </form>

          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title text-center" id="exampleModalLabel">ยืนยันการลบความคิดเห็น</h5>
            </div>
            <div class="modal-body" id="modal-body-confirm">
              ...
            </div>
            <div class="modal-footer">
              <a type="button" id="start-button" class="btn btn-primary mx-2" href="">ยืนยัน</a>
              <button type="button" class="btn btn-light" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-xxl-4 col-lg-8 col-md-9 col-sm-10 col-12 mb-4 mt-4 px-0">
        <section class="sticky-top shadow-sm" style="top: 80px;">
          <section class="text-center mb-4 border">
            <div class="card" style="border: none; border-radius: 10px;">
            <div class="bg-image hover-overlay ripple mb-3 mt-3">
              <img src="{{ p.createBy.photo.url }}" class="shadow-1-strong me-2"
                height="150" width="150" alt="" loading="lazy" style="border-radius: 5px; object-fit: cover;"/>
            </div>
            
            <h5 class="">{{ p.createBy.user.first_name }} {{ p.createBy.user.last_name }}</h5>

            <p class="px-4 mb-2">{{ p.createBy.bio }}</p>

            <a href="/profile/{{p.createBy.username}}" style="text-decoration: none; border-radius: 15px;" class="mx-auto mb-3">
              <button type="button" class="btn btn-primary"><p class="m-0 text-white">โปรไฟล์</p></button>
            </a>

            

            
            <section class="text-center border-top py-3">
              <p class="mb-2"><strong>ช่องทางติดต่อสอบถาม</strong></p>

              {% if p.createBy.facebook %}
              <a class="btn btn-primary px-3" href="{{p.createBy.facebook}}" role="button" target="_blank">
                <i class="fab fa-facebook-f" style="color: white;"></i>
              </a>
              {% else %}
              <a class="btn btn-secondary px-3 disabled" href="{{p.createBy.facebook}}" role="button" target="_blank">
                <i class="fab fa-facebook-f" style="color: white;"></i>
              </a>
              {% endif %}

              {% if p.createBy.twitter %}
              <a class="btn btn-primary px-3" href="{{p.createBy.twitter}}" role="button" target="_blank">
                <i class="fab fa-twitter" style="color: white;"></i>
              </a>
              {% else %}
              <a class="btn btn-secondary px-3 disabled" href="{{p.createBy.twitter}}" role="button" target="_blank">
                <i class="fab fa-twitter" style="color: white;"></i>
              </a>
              {% endif %}

              {% if p.createBy.instagram %}
              <a class="btn btn-primary px-3" href="{{p.createBy.instagram}}" role="button" target="_blank">
                <i class="fab fa-instagram" style="color: white;"></i>
              </a>
              {% else %}
              <a class="btn btn-secondary px-3 disabled" href="{{p.createBy.instagram}}" role="button" target="_blank">
                <i class="fab fa-instagram" style="color: white;"></i>
              </a>
              {% endif %}

            </section>
            </div>
          </section>
        </section>
        
      </div>

      
    </div>
  </div>
</section>
{% endfor %}

<button class="gotoBottom1 btn btn-outline-primary bg-white" onclick="scrollFunction1()" style="z-index: 9999;"><i class="fa-solid fa-arrow-up"></i></button>
<button class="gotoBottom2 btn btn-outline-primary bg-white" onclick="scrollFunction2()" style="z-index: 9999;"><i class="fa-solid fa-arrow-down"></i></button>

<script src="{% static "js/delete-comment-popup.js" %}"></script>
<script src="{% static "js/article-Detail-AddChild.js" %}"></script>
<script src="{% static "js/scroll.js" %}"></script>


{% endblock content %}