<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mb-0">

    {% if post.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{1}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    <li class="page-item"><a class="page-link" href="?page={{post.previous_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    {% endif %}

    <!-- <li class="page-link" href="#">{{ post.number }} of {{ post.paginator.num_pages }}</li> -->

    {% for page in post.paginator.page_range %}
    <li class="page-item {% if post.number == page  %} active {% endif %}"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
    {% endfor %}

    {% if post.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{post.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li class="page-item"><a class="page-link" href="?page={{post.paginator.num_pages}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    {% endif %}

    </ul>
</nav>
