{% extends 'base.html' %}
{% load static %}
{% block title %} บันทึก {% endblock %}

{% block content %}


<section class="pt-5">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4 mb-md-0 px-3 shadow-sm">
                    <div class="card-body pb-0 pt-2 ">
                        <h5 class="align-bottom mt-2 mb-0 text-center text-md-start">รายการที่บันทึก</h5>
                        <hr class="mt-2">
                    </div>
                    <div class="card-body py-0">
                        <div class="row">
                            {% if mybookmark %}
                            {% for p in mybookmark %}
                            {{ pid|json_script:'pid' }}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xxl-3 ">
                                <a href="{% url 'article-detail' p.bookmark.id %}" style="text-decoration: none;">
                                <div class="card mb-2" style="border-radius: 10px; overflow: hidden;">
                                    <div class="card-responsive-flex">
                                            <div class="card-body-thumbnail">
                                                <img src="{{ p.bookmark.thumbnail.url }}" class="card-thumbnail">
                                            </div>
                                            
                                            <div class="card-body py-1">
                                                <div class="p-body-inside">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="theme-color-2 p-header">{{ p.bookmark.title }}</p>
                                                        <!-- <a href="delete-bookmark/{{p.id}}/">ลบ</a> -->
                                                        
                                                    </div>
                                                    <div class="p-body-2">
                                                        {% if p.bookmark.introduce %}
                                                        <p>{{p.bookmark.introduce|safe}}</p>
                                                        {% else %}
                                                        <p class="text-grey">ไม่มีการลงเนื้อหาในหัวข้อดังกล่าว</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p class="theme-color-2 mt-1">{{ p.bookmark.position }}</p>
                                                    <div class="col-7 pe-0">
                                                        <p class="card-text text-uppercase theme-color-1">ประทับใจ : {{p.bookmark.rating}}</p>
                                                    </div>
                                                    <div class="col-5 ps-0">
                                                        {% if p.bookmark.money and p.bookmark.money_type %}
                                                        <p class="card-text text-uppercase text-end theme-color-1">{{p.bookmark.money}}/{{p.bookmark.money_type}}</p>
                                                        {% else %}
                                                        <p class="card-text text-uppercase text-end theme-color-1"><i
                                                            class="far fa-money-bill-alt pr-2" style="color: #06F;"></i> : ไม่มี
                                                        </p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                
                                    </div>
                                    <div class="card-footer border-top py-1" style="background: inherit; border-color: inherit;">
                
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="theme-color-1">{{ p.bookmark.total_likes }} ถูกใจ
                                                </p>
                                            </div>
                                            <div class="col-8">
                                                <div class="text-end">
                                                    <p class="theme-color-1">{{ p.bookmark.post_date|date:"d M Y"}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>

                                <div class="d-flex justify-content-end mb-3">

                                    <span class="modalbtn btn btn-danger btn-sm ms-1" data-pk="{{p.pk}}" data-thumbnail="{{ p.bookmark.thumbnail.url }}" 
                                        data-title="{{p.bookmark.title}}" data-toggle="modal" data-target="#quizStartModal">
                                        ลบ
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="py-5">
                                <p class="theme-color-2 text-center py-5 m-0">ยังไม่มีการบันทึกเนื้อหาใดๆ</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                        <h5 class="modal-title text-center" id="exampleModalLabel">ยืนยันการลบบันทึก</h5>
                        </div>
                        <div class="modal-body" id="modal-body-confirm">
                        ...
                        </div>
                        <div class="modal-footer">
                        <a type="button" id="start-button" class="btn btn-primary mx-2" href="">ยืนยัน</a>
                        <button type="button" class="btn btn-light" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    </div>
</section>


{% include 'footer.html' %}

<script src="{% static "js/delete-bookmark-popup.js" %}"></script>
<script src="{% static "js/addclass.js" %}"></script>
{% endblock content %}