{% extends 'app/base.html' %}
{% load static %}
{% block content %}

{{ cid|json_script:'cid' }}
{{ vid|json_script:'vid' }}

<div class="videoPlayer">
	{% for v in video %}
	{% for l in lesson %}
	{% if v.lesson.id == l.id %}
	{% if v.id == vid %}
	<div class="video-player-box">
		{% if v.video %}
		<video id="video" class="file-video box" controls>
			<source src="{{ v.video.url }}#t={{ videoResult.currentTime }}">
		</video>
		{% else %}
		<div id="ytplayer" class="yt-video box"></div>
		{% endif %}
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}

	<div class="video-title-box">
		<div class="videoPlayer-box">
			{% for l in lesson|dictsort:"id" %}
			<a class="video-box btn btn-block p-3 mt-2" data-toggle="collapse" href="#collapseExample{{l.id}}" role="button"
				aria-expanded="false" aria-controls="collapseExample">
				<div class="d-flex justify-content-between align-items-center">
					<div class="video-title truncate" style="text-align: left;">
						{{ l.lessonTitle }}
					</div>
					<i class="fas fa-caret-down" style="color: #C4C4C4;"></i>
				</div>
			</a>
			<div class="collapse py-1" id="collapseExample{{ l.id }}">
				{% for v in video %}
				{% if v.lesson.id == l.id %}
				<a class="video-collapse-a" href="/video/{{cid}}/{{v.id}}">
					<div class="video-collapse">
						<p class="py-2 px-3 my-2">{{ v.videoTitle }}</p>
					</div>
				</a>
				{% endif %}
				{% endfor %}

				{% for q in quiz %}
				{% if q.lesson.id == l.id %}
				<div class="video-collapse">
					<p class="modalbtn py-2 px-3 my-2" data-pk="{{q.pk}}" data-quiz="{{q.name}}"
					data-question="{{q.numberOfQuestions}}" data-difficult="{{q.difficulty}}" data-time="{{q.time}}"
					data-pass="{{q.requiredScore}}" data-toggle="modal" data-target="#quizStartModal">Quiz : {{q.name}}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>

		<!-- Modal -->
		<div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">เริ่มทำแบบฝึกหัด ?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="modal-body-confirm">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">ไม่</button>
						<a type="button" id="start-button" class="btn btn-success" href="">ใช่</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for v in video %}
{% for l in lesson %}
{% if v.lesson.id == l.id %}
{% if v.id == vid %}
{% if v.video %}
<script src="{% static "js/videoPlayer.js" %}"></script>
{% else %}
<script>
	const url = window.location.href
	const cid_ = JSON.parse(document.getElementById('cid').textContent);
	const vid = JSON.parse(document.getElementById('vid').textContent);

	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player;
	function onYouTubePlayerAPIReady() {
		player = new YT.Player('ytplayer', {
			playerVars: {rel: 0, showinfo: 0, ecver: 2},
			events: {
				'onReady': onPlayerReady,
				'onStateChange': onPlayerStateChange
			}
		});
	}

	function onPlayerReady(event) {
		player.loadVideoById({
			'videoId': '{{v.videoUrl}}',
			{% if videoResult %}
			{% for v in videoResult %}
			'startSeconds': {{ v.currentTime }}
			{% endfor %}
			{% endif %}
		});
	}

	function onPlayerStateChange(event) {
		curTime = player.playerInfo.currentTime.toFixed(0);

		data = {
			'curTime': curTime
		}

		if (event.data == 2) {
			$.ajax({
				type: 'GET',
				url: `${url}save`,
				data: data,
				success: function (response) {
					console.log('Data from Django : ', response)
					localStorage.setItem('latestCourse', cid_)
					localStorage.setItem('latestVdo', vid)
				},
				error: function (error) {
					console.log(error)
				}
			})
		}

		if (event.data == 0) {
			console.log('video ended')
			let endedText = 'Video ended'

			data = {
				'endedText': endedText
			}

			$.ajax({
				type: 'GET',
				url: `${url}end`,
				data: data,
				success: function (response) {
					console.log(response)
				},
				error: function (error) {
					console.log(error)
				}
			})
		}
	}
</script>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

<script src="{% static "js/quizMain.js" %}"></script>


{% endblock content %}